*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    text-align: center;
    background:white; 
    min-height: 100hv;
}
main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}
.pokedex{
    width: 100%;
    max-width: 500px;
}
.pokemon_image{
    position: absolute;
    bottom: 65%;
    left: 39%;
    transform: translate(7%,20%);
    height: 10%;
}
.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: red;
    top: 60%;
    right: 38%;
    font-size: clamp(8px,5vw,25px);
}
.pokemon_data :hover{
    text-decoration: underline;
    color: #fff;
}
.pokemon_name{
    color: red;
    text-transform: capitalize;
    width: 100%;

}
.form{
    position: absolute;
    width: 90%;
    top: 76%;
    right:4.5%;
}
.input_search{
 padding: 1%; 
outline: none;
border-radius: 5px;
font-weight: 600;
border: 2px solid blue;
color: #3a444d;
box-shadow: -3px 4px 5px #333;
}
.buttons{
    position: absolute;
    top: 38%;
    right: 10%;
    width: 50%;
    display: flex ;
    gap: 20px;
}
.button{
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 600;
    width: 12.5%;
    color: #444;
    background-color: #fff;
    box-shadow: -2px 3px 0 #222;
}
.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9 rem;
}